@import "../../color-variables.scss";


main{
    display: flex;
    flex-direction: column;
    gap: 84px;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto, sans-serif";
    padding: 0 70px;
    img{
        width:42rem;
        height:33.5rem;

    }

    span{
        font-size: 1.25rem;
        font-weight: 700; 
        color: $secondary-text;
    }

    h1{
        font-size: 4.5rem;
        font-weight: 900;
        color: $primary-text;
    }
}

.benefit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 70px;
    gap: 4.5rem;

    .benefict-data {
        padding-bottom: 40px;
        border-bottom: 10px solid $secondary-color;

        h2 {
            font-size: 60px;
            font-weight: 600;
            font-family: "Roboto", sans-serif;
            color: $primary-text;
        }
    }

    p {
        font-size: 40px;
        font-style: italic;
        font-weight: 300;

        b {
            background-image: linear-gradient(90deg,$light-primary-color, $secondary-color );
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-style: normal;
        }
        
    }

    
}
.cta-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1080px) {
    .main-section{
        flex-direction: row;
    }

    .benefit-section {
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    .main-section {
        .headline{
            justify-content: start;
        }
        img{
            width:35rem;
            height:26.5rem;
        }
        
        span{
            font-size: 1.25rem;
            font-weight: 700; 
            color: $secondary-text;
        }
    
        h1{
            font-size: 3rem;
            font-weight: 900;
            color: $primary-text;
            margin-bottom: 2rem;
        }
    }

    .benefit-section{
        padding: 0 40px;
    }
}

@media (max-width: 568px) {
    .main-section {
        padding: 0 40px;
        img{
            width:22rem;
            height:18.5rem;
        }


    
        h1{
            font-size: 2rem;
        }
    }
    .cta-section{
        width: 100%;
        margin: 0 auto;
    }
    
}
